{{ define "modularCss" }}
  {{- $listStyle := resources.Get "css/list.css" | minify | fingerprint -}}
  {{ $listStyle.Content | safeCSS }}
{{ end }}

{{ define "main" }}

  <div class="sub-sections">
    {{ range .Parent.Sections.ByWeight }}
      {{ $isCurrentSection := eq .Title $.CurrentSection.Title }}
      <div class="sub-section">
        <a
          href="{{ if $isCurrentSection }}
            {{ .Parent.RelPermalink }}
          {{ else }}
            {{ .RelPermalink }}
          {{ end }}"
          {{ if $isCurrentSection }}aria-current="page"{{ end }}
        >
          {{ .Title | lower }}
        </a>
        <sup>{{ .RegularPagesRecursive | len }}</sup>
      </div>
    {{ end }}
  </div>

  {{ partial "list-view-title.html" . }}


  <ul>
    {{ range .RegularPagesRecursive }}
      {{- partial "music-review-preview.html" . -}}
    {{ end }}
  </ul>
{{ end }}
