{{ define "main" }}
  <div class="sub-sections">
    {{ range .Parent.Sections.ByWeight }}
      {{ $isCurrentSection := eq .Title $.CurrentSection.Title }}
      <div class="sub-section">
        <a
          href="{{ if $isCurrentSection }}
            {{ .Parent.RelPermalink }}
          {{ else }}
            {{ .RelPermalink }}
          {{ end }}"
          class="{{ if $isCurrentSection }}font-bold{{ end }}"
        >
          {{ .Title | lower }}
        </a>
        <sup>{{ .RegularPagesRecursive | len }}</sup>
      </div>
    {{ end }}
  </div>

  {{ partial "list-view-title.html" . }}


  <div class="list-items">
    {{ range .RegularPagesRecursive }}
      {{- partial "music-review-preview.html" . -}}
    {{ end }}
  </div>
{{ end }}
