{{ define "modularCss" }}
  {{- $singleStyle := resources.Get "css/single.css" | minify | fingerprint -}}
  {{ $singleStyle.Content | safeCSS }}
{{ end }}

{{ define "main" }}
  {{ $artists := .GetTerms "artists" }}
  {{ $genres := .GetTerms "genres" }}
  {{ $releaseYears := .GetTerms "release-years" }}
  {{ $votes := .GetTerms "votes" }}
  <article>
    <header>
      <hgroup>
        <h1 style="font-size:medium;margin:0">
          {{ range $artists }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
          -
          {{ .Title }}
        </h1>
        <aside>
          <dl>
            <div>
              <small>
                <dt>
                  {{- "genres" | T -}}
                </dt>
                <dd>
                  {{ range $i, $item := $genres }}
                    {{- if $i -}}
                      ,
                    {{ end }}<a href="{{ $item.RelPermalink }}"
                      >{{ $item.LinkTitle -}}</a
                    >
                  {{- end -}}
                </dd>
              </small>
            </div>
            <div>
              <small>
                <dt>
                  {{- "released" | T -}}
                </dt>
                <dd>
                  {{ range $releaseYears }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle -}}</a>
                  {{- end -}}
                </dd>
              </small>
            </div>
            <div>
              <dt hidden>
                {{- "vote" | T -}}
              </dt>
              <dd>
                <fieldset style="display:inline;font-size:95%;border-width:1px;margin-top:0.3rem;padding-top:0px;padding-bottom:0.5rem;">
                  <legend>{{ "vote" | T }}</legend>
                  {{ range $votes }}
                    <a href="{{ .RelPermalink }}">
                      {{ .LinkTitle }}
                    </a>
                  {{- end }}
                </fieldset>
              </dd>
            </div>
          </dl>
        </aside>
      </hgroup>
    </header>

    {{ .Content }}

    <footer>
      {{ partial "streaming-platforms" . }}

      {{ $pages := where .Site.RegularPages.ByWeight ".CurrentSection.Title" .CurrentSection.Title }}
      {{ if or ($pages.Prev .) ($pages.Next .) }}
        <nav>
          <ul style="display:grid;grid-template-columns:repeat(2,minmax(0,1fr));justify-content:space-between;align-items:baseline;list-style-type:none;padding:0">
            {{ with $pages.Prev . }}
              <li>
                <a style="display:flex;justify-content:flex-start;" href="{{ .RelPermalink }}">← {{ .Title }}</a>
              </li>
            {{ else }}
              <span style="display:inline-block"></span>
            {{ end }}

            {{ with $pages.Next . }}
              <li>
                <a style="display:flex;justify-content:flex-end;" href="{{ .RelPermalink }}">→ {{ .Title }}</a>
              </li>
            {{ else }}
              <span></span>
            {{ end }}
          </ul>
        </nav>
      {{ end }}
    </footer>
  </article>
{{ end }}
