{{ define "main" }}
  {{ $artists := .GetTerms "artists" }}
  {{ $genres := .GetTerms "genres" }}
  {{ $releaseYears := .GetTerms "release-years" }}
  {{ $votes := .GetTerms "votes" }}
  <article>
    <div>
      <div>
        <strong>
          {{ range $artists }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </strong>
        -
        <strong>
          {{ .Title }}
        </strong>
        <div>
          <span>{{ "genres" | T }}:</span>
          {{ range $i, $item := $genres }}
            {{- if $i -}}
              ,
            {{ end }}<a href="{{ $item.RelPermalink }}"
              >{{- $item.LinkTitle -}}</a
            >
          {{- end -}}
          <div>
            <span>{{ "released" | T }}:</span>
            {{ range $releaseYears }}
              <a href="{{ .RelPermalink }}">{{- .LinkTitle -}}</a>
            {{- end -}}
          </div>
        </div>
      </div>

      <fieldset>
        <legend>{{ "vote" | T }}</legend>
        <div>
          {{ range $votes -}}
            <a href="{{ .RelPermalink }}">
              {{ .LinkTitle }}
            </a>
          {{- end }}
        </div>
      </fieldset>
    </div>

    <div>
      {{ .Content }}
    </div>
  </article>

  {{ partial "streaming-platforms" . }}

  {{ $pages := where .Site.RegularPages.ByWeight ".CurrentSection.Title" .CurrentSection.Title }}
  {{ if or ($pages.Prev .) ($pages.Next .) }}
    <p class="navigation-arrows">
      {{ with $pages.Prev . }}
        <a class="previous" href="{{ .RelPermalink }}">← {{ .Title }}</a>
      {{ else }}
        <span></span>
      {{ end }}

      {{ with $pages.Next . }}
        <a class="next" href="{{ .RelPermalink }}">→ {{ .Title }}</a>
      {{ else }}
        <span></span>
      {{ end }}
    </p>
  {{ end }}
{{ end }}
