<header>
  <hgroup>
    <h1 style="font-size:medium;margin:0">
      {{ .Title }}
    </h1>
    <h2 style="font-size:medium;font-weight:normal;margin:0">
      {{ .Summary }}
    </h2>
    <aside>
      {{ $taxonomy := "topics" }}
      {{ with .GetTerms $taxonomy }}
        {{ $taxonomyLength := . | len }}
        <dl>
          <div>
            <dt>
              {{ "topics" | T -}}
            </dt>
            <dd>
              {{ range $i, $taxonomyItem := . }}
                <a href="{{ $taxonomyItem.RelPermalink }}">
                  {{ $taxonomyItem.LinkTitle }}</a
                >{{ if lt (add $i 1) $taxonomyLength }},{{ end }}
              {{- end }}
            </dd>
          </div>
        </dl>
      {{ end }}
    </aside>
  </hgroup>
</header>
