{{- range $i, $elem := (after 1 .Ancestors.Reverse) -}}
  <span class="text-zinc-600 dark:text-zinc-500 select-none pointer-events-none">/</span
    ><a
    href="{{ .RelPermalink }}"
    class="text-zinc-950 dark:text-zinc-50 hover:text-emerald-600 dark:hover:text-emerald-400"
    >{{- lower (path.Base $elem.RelPermalink) -}}</a>
{{- end -}}

{{- if and (ne .LinkTitle .Site.Title) (not (.Slug)) -}}
  <span class="text-zinc-600 dark:text-zinc-500 select-none pointer-events-none">/</span
    ><a
    aria-current="page"
    href="{{ .RelPermalink }}"
    class="text-zinc-950 dark:text-zinc-50 hover:text-emerald-600 dark:hover:text-emerald-400 break-all"
    >{{- lower (default (path.Base .RelPermalink) .Slug) -}}</a>
{{- end -}}