<header
  class="mx-auto w-screen max-w-screen-md px-6 sm:px-7 xl:px-8 2xl:px-10 py-6"
>
  <nav class="flex flex-col text-sm sm:text-base">
    <div class="flex justify-between items-start gap-2">
      <div>
        <a
          href="{{ .Site.Home.Permalink }}"
          class="text-emerald-600 hover:text-emerald-800 dark:text-emerald-400 dark:hover:text-emerald-200 font-bold"
          >{{ .Site.Title }}</a
        ><span
          class="prose dark:prose-invert leading-none select-none pointer-events-none text-sm sm:text-base"
          >:</span
        ><span class="select-none pointer-events-none">~</span
        >{{- partial "breadcrumb.html" . -}}
      </div>
      <div class="flex gap-3">
        {{- partial "languages.html" . -}}
        <label class="sr-only">Theme</label>
        <button
          type="button"
          id="theme-toogle"
          onclick="changeTheme()"
          class="hover:text-emerald-600 dark:hover:text-emerald-400"
        >
          <svg
            id="theme-toggle-dark"
            class="w-4 h-4 hidden"
            fill="currentColor"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="16" cy="16" r="15" />
          </svg>
          <svg
            id="theme-toggle-light"
            class="w-4 h-4 hidden"
            fill="currentColor"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16,1C24.279,1 31,7.721 31,16C31,24.279 24.279,31 16,31C7.721,31 1,24.279 1,16C1,7.721 7.721,1 16,1ZM16,5C9.929,5 5,9.929 5,16C5,22.071 9.929,27 16,27C22.071,27 27,22.071 27,16C27,9.929 22.071,5 16,5Z"
            />
          </svg>
          <svg
            id="theme-toggle-system"
            class="w-4 h-4 hidden"
            fill="currentColor"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="M16,1C24.279,1 31,7.721 31,16C31,24.279 24.279,31 16,31C7.721,31 1,24.279 1,16C1,7.721 7.721,1 16,1ZM16,5C9.929,5 5,9.929 5,16C5,22.071 9.929,27 16,27C22.071,27 27,22.071 27,16C27,9.929 22.071,5 16,5Z"
              />
              <path
                d="M16,31C7.721,31 1,24.279 1,16C1,7.721 7.721,1 16,1L16,31Z"
              />
            </g>
          </svg>
        </button>
      </div>
    </div>

    <ul class="flex flex-wrap gap-x-3">
      {{ range $k, $_ := .Sections.ByWeight }}
        {{ if eq $.CurrentSection.FirstSection.Title .Title }}
          <li>
            <a
              href="{{ .Permalink }}"
              class="text-emerald-600 hover:text-emerald-800 dark:text-emerald-400 dark:hover:text-emerald-200"
            >
              {{ .Title | lower | safeHTML }}/
            </a>
          </li>
        {{ else }}
          <li>
            <a
              href="{{ .Permalink }}"
              class="hover:text-emerald-600 dark:hover:text-emerald-400"
            >
              {{ path.Base .CurrentSection.Path | lower | safeHTML }}/
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>

  <script>
    var themeDarkIcon = document.getElementById("theme-toggle-dark");
    var themeLightIcon = document.getElementById("theme-toggle-light");
    var themeSystemIcon = document.getElementById("theme-toggle-system");

    function setThemeVisibility(themeParameter) {
      switch (themeParameter) {
        case "system":
          themeSystemIcon.classList.toggle("hidden");
          break;
        case "light":
          themeLightIcon.classList.toggle("hidden");
          break;
        case "dark":
          themeDarkIcon.classList.toggle("hidden");
      }
    }

    function changeTheme() {
      if (themeSystemIcon.classList.contains("hidden") == false) {
        themeSystemIcon.classList.toggle("hidden");
        themeLightIcon.classList.toggle("hidden");
        localStorage.setItem("color-theme", "light");
        document.documentElement.classList.remove("dark");
      } else if (themeLightIcon.classList.contains("hidden") == false) {
        themeLightIcon.classList.toggle("hidden");
        themeDarkIcon.classList.toggle("hidden");
        localStorage.setItem("color-theme", "dark");
        document.documentElement.classList.add("dark");
      } else if (themeDarkIcon.classList.contains("hidden") == false) {
        themeDarkIcon.classList.toggle("hidden");
        themeSystemIcon.classList.toggle("hidden");
        localStorage.removeItem("color-theme");
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          document.documentElement.classList.add("dark");
        }
      } else {
        /* default fallback to system preference */
        themeSystemIcon.classList.remove("hidden");
        themeLightIcon.classList.add("hidden");
        themeDarkIcon.classList.add("hidden");
        localStorage.removeItem("color-theme");
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          document.documentElement.classList.add("dark");
        }
      }
    }

    function setupThemeIndicator() {
      /* load theme variable from local storage */
      if (localStorage.getItem("color-theme") === "dark") {
        var themeParameter = "dark";
      } else if (localStorage.getItem("color-theme") === "light") {
        var themeParameter = "light";
      } else {
        var themeParameter = "system";
      }

      setThemeVisibility(themeParameter);
    }

    window.onload = setupThemeIndicator;
  </script>
</header>
