<header>
  <nav>
    <ol class="breadcrumbs">
      <li>
        <a href="{{ .Site.Home.Permalink }}"><strong>{{ replaceRE "www." "" (urls.Parse .Site.Home.Permalink).Hostname }}</strong></a>
      </li>

      {{- range $i, $elem := (after 1 .Ancestors.Reverse) -}}
        {{- if $elem.RelPermalink -}}
          <li><a href="{{ .RelPermalink }}">{{- lower (path.Base $elem.RelPermalink) -}}</a></li>
        {{- end -}}
      {{- end -}}

      {{- if and (ne .LinkTitle .Site.Title) (not (.Slug)) -}}
        <li><a href="{{ .RelPermalink }}">{{- lower (default (path.Base .RelPermalink) .Slug) -}}</a></li>
      {{- end -}}
    </ol>
  </nav>
  <hr />
</header>
