<header
  class="mx-auto w-screen max-w-screen-md px-6 py-6"
>
  <nav class="flex flex-col">
    <div class="flex justify-between items-start gap-2">
      <div>
        <a
          href="{{ .Site.Home.Permalink }}"
          class="text-emerald-700 dark:text-emerald-400 hover:underline font-bold"
          >
            {{ .Site.Title }}.com</a
          >{{- partial "breadcrumbs.html" . -}}
      </div>
    </div>

    <ul class="flex flex-wrap gap-x-3 text-zinc-950 dark:text-zinc-50">
      {{ range site.Sections.ByWeight }}
        <li>
          <a
            href="{{ .Permalink }}"
            class="{{ if or (.IsAncestor $) (eq $ .) }}text-emerald-700 dark:text-emerald-400{{ end }} hover:text-emerald-700 dark:hover:text-emerald-400"
          >
            {{ .Name | lower | safeHTML }}
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
