<div class="not-prose grid grid-cols-1">
  <div class="grid grid-cols-1 gap-2 py-5">
    <a
      href="{{ .Permalink }}"
      class="font-bold text-3xl leading-8 hover:text-emerald-600 dark:hover:text-emerald-400"
    >
      {{ .Title }}
    </a>
    <span class="flex gap-x-1 text-base leading-tight mb-1">
      {{ with .GetTerms "artists" }}
        {{ range . }}
          <a
            href="{{ .RelPermalink }}"
            class="not-prose dark:text-zinc-50 font-semibold hover:text-emerald-600 dark:hover:text-emerald-400"
          >
            <div>{{ .Title }}</div>
          </a>
        {{ end }}
      {{ end }}
    </span>
    <div class="text-xs flex items-baseline justify-between gap-x-2">
      <div class="flex flex-wrap">
        {{ with .GetTerms "genres" }}
          {{ range . -}}
            <a
              href="{{ .RelPermalink }}"
              class="not-prose dark:text-zinc-50 border border-zinc-950 dark:border-zinc-50 px-2 py-1 font-semibold hover:bg-emerald-800 hover:text-zinc-50 hover:dark:bg-emerald-700 text-center"
            >
              <div>{{ .Title }}</div>
            </a>
          {{- end }}
        {{ end }}
        {{ with .GetTerms "release-years" }}
          {{ range . -}}
            <a
              href="{{ .RelPermalink }}"
              class="not-prose dark:text-zinc-50 border border-zinc-950 dark:border-zinc-50 px-2 py-1 font-semibold hover:bg-emerald-800 hover:text-zinc-50 hover:dark:bg-emerald-700 text-center"
            >
              <div>{{ .Title }}</div>
            </a>
          {{- end }}
        {{ end }}
      </div>
      <div class="shrink-0">
        {{ with .GetTerms "votes" }}
          {{ range . -}}
            <a
              href="{{ .RelPermalink }}"
              class="not-prose text-base dark:text-zinc-50 font-semibold hover:text-emerald-600 hover:dark:text-emerald-400 text-center"
            >
              <div>{{ .Title }}</div>
            </a>
          {{- end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
