/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer components {
  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/TTFirsNeue-DemiBold.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/TTFirsNeue-DemiBoldItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/TTFirsNeue-Bold.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/TTFirsNeue-BoldItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/TTFirsNeue-ExtraBold.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/TTFirsNeue-ExtraBoldItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/TTFirsNeue-Regular.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/TTFirsNeue-Italic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/TTFirsNeue-Medium.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/TTFirsNeue-MediumItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/TTFirsNeue-Light.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/TTFirsNeue-LightItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/TTFirsNeue-ExtraLight.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 200;
    src: url("../fonts/TTFirsNeue-ExtraLightItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/TTFirsNeue-Thin.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 100;
    src: url("../fonts/TTFirsNeue-ThinItalic.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "G2 Ciao";
    font-style: normal;
    src: url("../fonts/G2Ciao-SharpSharp.otf");
  }

  @font-face {
    font-display: swap;
    font-family: "G2 Ciao";
    font-weight: bold;
    src: url("../fonts/G2Ciao-SharpSharp.otf");
  }

  html {
    --emerald-800: rgb(6 95 70);
  }

  body {
    font-family: "TT Firs Neue", sans-serif;
  }

  a:focus {
    outline: none;
    text-decoration-line: underline;
  }
}
