/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer components {
  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/TTFirsNeue-DemiBoldItalic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/TTFirsNeue-BoldItalic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/TTFirsNeue-ExtraBold.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/TTFirsNeue-ExtraBoldItalic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/TTFirsNeue-Italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/TTFirsNeue-MediumItalic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/TTFirsNeue-Light.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/TTFirsNeue-LightItalic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/TTFirsNeue-ExtraLight.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 200;
    src: url("../fonts/TTFirsNeue-ExtraLightItalic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/TTFirsNeue-Thin.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "TT Firs Neue";
    font-style: italic;
    font-weight: 100;
    src: url("../fonts/TTFirsNeue-ThinItalic.woff2") format("woff2");
  }

  html {
    --emerald-800: rgb(6 95 70);
  }

  body {
    font-family: "TT Firs Neue", sans-serif;
  }

  /* block scrolling whenever the section menu is open */
  body:has(#sections-toggle:checked) { 
    overflow: hidden;
  }

  a:focus {
    outline: none;
    text-decoration-line: underline;
  }
}
