{{ define "modularCss" }}
  {{- $homeStyle := resources.Get "css/home.css" | minify | fingerprint -}}
  {{ $homeStyle.Content | safeCSS }}
{{ end }}

{{ define "main" }}
  <strong>{{ "welcomeHome" | T }}</strong>

  {{ .Content }}


  <ul>
    {{ range $i, $section := site.Sections.ByWeight }}
      <li
        ><a href="{{ $section.Permalink }}">{{ path.Base $section.RelPermalink }}</a>
        {{ with .Sections.ByWeight }}
          <ul>
          {{ range . }}
              <li
                ><a href="{{ .Permalink }}">{{ path.Base .RelPermalink }}</a
                  ><sup>{{ .RegularPagesRecursive | len }}</sup>
              </li>
          {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
