{{ define "main" }}
  <article
    class="justify-self-center mx-auto prose prose-sm sm:prose-base dark:prose-invert max-w-screen-md prose-h3:text-base"
  >
    <div>
      {{ .Content }}
    </div>

    {{ with (where .Sections ".TranslationKey" "ne" "about") }}
      {{ range . }}
        <section class="last:mb-14">
          <h2>{{ .Title }}</h2>
          {{ with (where site.RegularPages ".Section" (lower .Title)) }}
            {{ range . }}
              {{- partial "article-preview.html" . -}}
            {{ end }}
          {{ end }}
        </section>
      {{ end }}
    {{ end }}
  </article>
{{ end }}
