{{ define "modularCss" }}
  {{- $homeStyle := resources.Get "css/home.css" | minify | fingerprint -}}
  {{ $homeStyle.Content | safeCSS }}
{{ end }}

{{ define "main" }}
  <h1 style="font-size:medium;margin:0">
    {{ "welcomeHome" | T }}
  </h1>

  {{/*  {{ .Content }}  */}}

  <p>
    <search>
      <form action="https://duckduckgo.com/">
        <input type="search" id="content" name="q" placeholder='{{ "searchWebsite" | T }}' />
        <input hidden type="search" id="domain" name="sites" value="{{ .Site.Title }}.com" />
        <button type="submit">{{ "search" | T }}</button>
      </form>
    </search>
  </p>

  <nav>
    <ul>
      {{ range $i, $section := site.Sections.ByWeight }}
        <li
          ><a href="{{ $section.Permalink }}">{{ $section.Name }}</a>
          {{ with .Sections.ByWeight }}
            <ul>
            {{ range . }}
                <li>
                  <a href="{{ .Permalink }}">{{ .Name }}</a>
                  {{ with .RegularPagesRecursive }}
                    <ul>
                      {{ range first 1 . }}
                        <li>
                          {{ "latest" | T }}: <a href="{{ .Permalink }}">{{ .Name }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                </li>
            {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
