<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}


  <body
    class="flex flex-col min-h-dvh bg-zinc-50 dark:bg-zinc-950 selection:bg-emerald-700 selection:text-zinc-50"
  >
    {{/* {{- partial "dev/dev-tools.html" . -}} */}}
    {{- partial "header.html" . -}}
    <main
      class="flex-1 grow marker:text-emerald-700 dark:marker:text-emerald-400 mx-auto w-screen max-w-screen-md px-3 prose leading-normal dark:prose-invert prose-p:my-2 prose-p:text-zinc-950 dark:prose-p:text-zinc-50 prose-ul:pl-3 prose-ul:my-2 prose-li:my-0 prose-li:pl-0 prose-li:text-zinc-950 dark:prose-li:text-zinc-50 prose-h1:text-3xl md:prose-h1:text-4xl prose-h2:text-xl md:prose-h2:text-2xl prose-h3:mt-3 prose-h3:mb-1 prose-h3:text-base prose-h3:font-bold prose-a:text-emerald-700 dark:prose-a:text-emerald-400 prose-a:no-underline hover:prose-a:underline prose-blockquote:my-3 prose-blockquote:font-light prose-code:before:content-none prose-code:after:content-none"
    >
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
