{{ define "main" }}
  {{ partial "list-view-title.html" . }}

  {{ if .Sections.ByWeight }}
    <div class="flex flex-wrap gap-x-5 mb-2 text-base leading-snug">
      {{ range .Sections.ByWeight }}
        <div class="flex items-baseline relative">
          <a href="{{ .RelPermalink }}" class="not-prose font-semibold text-zinc-950 dark:text-zinc-50 hover:text-emerald-600 hover:dark:text-emerald-400">
            {{ .Title | lower }}
          </a>
          <div class="absolute -right-2 text-xs font-semibold select-none pointer-events-none">{{ .RegularPagesRecursive | len }}</div>
        </div>
      {{ end }}
    </div>
  {{ else if and (ne .Parent site.Home) (.Parent.Sections.ByWeight) }}
    <div class="flex flex-wrap gap-x-5 mb-2 text-base leading-snug">
      {{ range .Parent.Sections.ByWeight }}
        {{ $isCurrentSection := eq .Title $.CurrentSection.Title }}
        <div class="flex items-baseline relative">
          <a href="{{ if $isCurrentSection }}{{ .Parent.RelPermalink }}{{ else }}{{ .RelPermalink }}{{ end }}" class="not-prose font-semibold {{ if $isCurrentSection }} text-emerald-600 dark:text-emerald-400 {{ else }} text-zinc-950 dark:text-zinc-50 {{ end }} hover:text-emerald-600 hover:dark:text-emerald-400">
            {{ .Title | lower }}
          </a>
          <div class="absolute -right-2 text-xs font-semibold select-none pointer-events-none">{{ .RegularPagesRecursive | len }}</div>
        </div>
      {{ end }}
    </div>
  {{ end }}

  {{ range $taxonomyName, $taxonomy := $.Site.Taxonomies }}
    {{ $translatedTaxonomyName := (site.GetPage $taxonomyName).Params.url }}
    {{ if eq $.Parent.Params.url $translatedTaxonomyName}}
      <div class="flex flex-wrap gap-x-5 mb-2 text-base leading-snug">
        {{ range $key, $value := $taxonomy }}
          {{ $taxonomyPages := $value.Pages }}
          <div class="flex items-baseline relative">
            {{/* votes have the denominator in the title but not in the slug/$key.
                 this means we have to check both (we could be in the "votes" taxonomy section or any other taxononmy section) */}}
            {{ $isCurrentSection := or (eq ($.CurrentSection.Title | lower) $key) (eq $.CurrentSection.Slug $key) }}
            {{ $taxonomyTermPages := (index $taxonomyPages 0).GetTerms $taxonomyName }}
            {{ $linkTitleFilter := where $taxonomyTermPages ".LinkTitle" $key }}
            {{ $slugFilter := where $taxonomyTermPages ".Slug" $key }}
            {{ $currentTaxonomyTermPages := append $linkTitleFilter $slugFilter }}
            {{ $currentTaxonomyPage := index $currentTaxonomyTermPages 0 }}
            {{ $taxonomyPermalink := $currentTaxonomyPage.RelPermalink }}
            {{ if $isCurrentSection }}
              {{ $taxonomyPermalink = path.Dir (path.Clean $taxonomyPermalink) }}
            {{ end }}
            <a href="{{ $taxonomyPermalink }}" class="not-prose font-semibold {{ if $isCurrentSection }} text-emerald-600 dark:text-emerald-400 {{ else }} text-zinc-950 dark:text-zinc-50 {{ end }} hover:text-emerald-600 hover:dark:text-emerald-400">
              {{ $currentTaxonomyPage.Title }}
            </a>
            <div class="absolute -right-2 text-xs font-semibold select-none pointer-events-none">{{ $taxonomyPages | len }}</div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}

  {{/*  {{ range $taxonomyName, $taxonomy := $.Site.Taxonomies }}
    {{ if eq "topics" $taxonomyName }}
      <div class="flex flex-wrap gap-x-3">
        {{ range $key, $value := $taxonomy }}
          {{ $currentSectionTaxonomies := where $value.Pages ".CurrentSection.Path" $.CurrentSection.Path }}
          {{ if ge $currentSectionTaxonomies 1 }}
            <div class="flex gap-2 items-baseline">
              {{ $taxonomyPermalink := (index (where ((index $currentSectionTaxonomies 0).GetTerms "topics") ".LinkTitle" (title $key)) 0).RelPermalink }}
              <a href="{{ $taxonomyPermalink }}">
                {{ $key }}
              </a>
              <div class="text-xs">{{ $currentSectionTaxonomies | len }}</div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}  */}}

  <div class="text-zinc-950 dark:text-zinc-50">
    {{ range .RegularPagesRecursive }}
      {{ if eq .Type "music-reviews" }}
        {{- partial "music-review-preview.html" . -}}
      {{ else }}
        {{- partial "article-preview.html" . -}}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
