{{ define "main" }}
  {{- $listStyle := resources.Get "css/list.css" | minify | fingerprint -}}
  <style>{{ $listStyle.Content | safeCSS }}</style>

  {{ if .Sections.ByWeight }}
    <div class="sub-sections">
      {{ range .Sections.ByWeight }}
        <div class="sub-section">
          <a href="{{ .RelPermalink }}">{{ .Title | lower -}}</a
          ><sup>{{ .RegularPagesRecursive | len }}</sup>
        </div>
      {{ end }}
    </div>
  {{ else if and (ne .Parent site.Home) (.Parent.Sections.ByWeight) }}
    <div class="sub-sections">
      {{ range .Parent.Sections.ByWeight }}
        {{ $isCurrentSection := eq .Title $.CurrentSection.Title }}
        <div class="sub-section">
          <a
            href="{{ if $isCurrentSection }}
              {{ .Parent.RelPermalink }}
            {{ else }}
              {{ .RelPermalink }}
            {{ end }}"
            {{ if $isCurrentSection }}aria-current="page"{{ end }}
          >
            {{ .Title | lower }}
          </a>
          <sup>{{ .RegularPagesRecursive | len }}</sup>
        </div>
      {{ end }}
    </div>
  {{ end }}

  {{ range $taxonomyName, $taxonomy := $.Site.Taxonomies }}
    {{ $translatedTaxonomyName := (site.GetPage $taxonomyName).Params.url }}
    {{ if eq $.Parent.Params.url $translatedTaxonomyName }}
      <div class="sub-sections">
        {{ range $key, $value := $taxonomy }}
          {{ $taxonomyPages := $value.Pages }}
          <div class="sub-section">
            {{/* votes have the denominator in the title but not in the slug/$key.
              this means we have to check both (we could be in the "votes" taxonomy section or any other taxononmy section)
            */}}
            {{ $isCurrentSection := or (eq ($.CurrentSection.Title | lower) $key) (eq $.CurrentSection.Slug $key) }}
            {{ $taxonomyTermPages := (index $taxonomyPages 0).GetTerms $taxonomyName }}
            {{ $linkTitleFilter := where $taxonomyTermPages ".LinkTitle" $key }}
            {{ $slugFilter := where $taxonomyTermPages ".Slug" $key }}
            {{ $currentTaxonomyTermPages := append $linkTitleFilter $slugFilter }}
            {{ $currentTaxonomyPage := index $currentTaxonomyTermPages 0 }}
            {{ $taxonomyPermalink := $currentTaxonomyPage.RelPermalink }}
            {{ if $isCurrentSection }}
              {{ $taxonomyPermalink = path.Dir (path.Clean $taxonomyPermalink) }}
            {{ end }}
            <a
              href="{{ $taxonomyPermalink }}"
              {{ if $isCurrentSection }}aria-current="page"{{ end }}
            >
              {{ $currentTaxonomyPage.Title }}
            </a>
            <sup>{{ $taxonomyPages | len }}</sup>
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}

  {{ partial "list-view-title.html" . }}


  <ul>
    {{ range .RegularPagesRecursive }}
      {{ if eq .Type "music-reviews" }}
        {{- partial "music-review-preview.html" . -}}
      {{ else }}
        {{- partial "article-preview.html" . -}}
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
