{{ define "main" }}
  <article>
    {{ partial "article-header.html" . }}


    <div>
      {{ .Content }}
    </div>
  </article>

  {{ partial "share-buttons" . }}

  {{ $pages := where .Site.RegularPages.ByWeight ".CurrentSection.Title" .CurrentSection.Title }}
  {{ if or ($pages.Prev .) ($pages.Next .) }}
    <p class="navigation-arrows">
      {{ with $pages.Prev . }}
        <a class="previous" href="{{ .RelPermalink }}">← {{ .Title }}</a>
      {{ else }}
        <span></span>
      {{ end }}

      {{ with $pages.Next . }}
        <a class="next" href="{{ .RelPermalink }}">→ {{ .Title }}</a>
      {{ else }}
        <span></span>
      {{ end }}
    </p>
  {{ end }}
{{ end }}
