{{ define "modularCss" }}
  {{- $singleStyle := resources.Get "css/single.css" | minify | fingerprint -}}
  {{- $singleStyle.Content | safeCSS -}}

  {{- if .Params.ContainsCodeBlocks -}}
    {{- $codeStyle := resources.Get "css/code.css" | minify | fingerprint -}}
    {{- $codeStyle.Content | safeCSS -}}
  {{ end }}
{{ end }}

{{ define "main" }}
  <article>
    {{ partial "article-header.html" . }}

    {{ .Content }}

    <footer>
      {{ $pages := where .Site.RegularPages.ByWeight ".CurrentSection.Title" .CurrentSection.Title }}
      {{ if or ($pages.Prev .) ($pages.Next .) }}
        <nav>
          <ul style="list-style-type:none;padding:0">
            {{ with $pages.Prev . }}
              <li style="display:inline-block">
                <a href="{{ .RelPermalink }}">← {{ .Title }}</a>
              </li>
            {{ else }}
              <span style="display:inline-block"></span>
            {{ end }}

            {{ with $pages.Next . }}
              <li style="float:right">
                <a href="{{ .RelPermalink }}">→ {{ .Title }}</a>
              </li>
            {{ else }}
              <span></span>
            {{ end }}
          </ul>
        </nav>
      {{ end }}
    </footer>
  </article>
{{ end }}
