{{ define "modularCss" }}
  {{- $listStyle := resources.Get "css/list.css" | minify | fingerprint -}}
  {{ $listStyle.Content | safeCSS }}
{{ end }}

{{ define "main" }}
  <menu>
    {{ range .Pages.ByTitle }}
      {{ if .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    {{ end }}
  </menu>

  {{ partial "list-view-title.html" . }}

  <nav>
    <ul>
      {{ range append (where site.Pages "TranslationKey" "about") site.RegularPages }}
        {{ if gt (.GetTerms $.Type | len) 0 }}
          {{ if eq .Type "music-reviews" }}
            {{- partial "music-review-preview.html" . -}}
          {{ else }}
            {{- partial "article-preview.html" . -}}
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </nav>
{{ end }}
