{{ define "modularCss" }}
  {{- $listStyle := resources.Get "css/list.css" | minify | fingerprint -}}
  {{ $listStyle.Content | safeCSS }}
{{ end }}

{{ define "main" }}
  <div class="sub-sections">
    {{ range .Pages.ByTitle }}
      {{ if .Pages }}
        <div class="sub-section">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a
          ><sup>{{ .Pages | len }}</sup>
        </div>
      {{ end }}
    {{ end }}
  </div>

  {{ partial "list-view-title.html" . }}


  <ul>
    {{ range append (where site.Pages "TranslationKey" "about") site.RegularPages }}
      {{ if gt (.GetTerms $.Type | len) 0 }}
        {{ if eq .Type "music-reviews" }}
          {{- partial "music-review-preview.html" . -}}
        {{ else }}
          {{- partial "article-preview.html" . -}}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
